
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .lot-ui td,
  .lot-ui th,
  .lot-ui .tree a {
    font-size: 8px;
  }
}

.lot-ui { 
  background: #ddd;
  font: 14px/1.4 Georgia, Serif;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.lot-ui * {
  margin: 0; 
  padding: 0; 
}

.lot-ui button,
.lot-ui input,
.lot-ui label,
.lot-ui select {
  border: medium none;
  display: block;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
}

.lot-ui label {
  text-align: left;
}

.lot-ui ul {
  list-style: none outside none;
}

.lot-ui .hide {
  display: none;
}

/*font*/
.lot-ui [class^="icon-"]:before {
  font-family: "fontello";
  font-size: 32px;
  left: 10px;
  line-height: 62px;
  position: absolute;
  text-align: center;
  top: -10px;
}

.lot-ui [class^="icon-"] {
  background-color: transparent;
  color: #A7A7A7;
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  line-height: 100px;
  margin: 0 4px;
  min-width: 50px;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.lot-ui [class^="icon-"]:active, 
.lot-ui [class^="icon-"]:focus, 
.lot-ui [class^="icon-"]:visited, 
.lot-ui [class^="icon-"].selected {
  color: #fff;
}

/* Loading */
@-webkit-keyframes lot-rotatation {
  from {
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg); 
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); 
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@keyframes lot-rotatation {
  from {
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg); 
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); 
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.lot-ui .loading {
  -webkit-animation-duration:         3s;
  -webkit-animation-name:             lot-rotatation;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  linear;

  animation-duration:         3s;
  animation-name:             lot-rotatation;
  animation-iteration-count:  infinite;
  animation-timing-function:  linear;
}

.lot-ui .loading {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFU6fW////7vtARwAAAAJ0Uk5T/wDltzBKAAABIklEQVR42uyaSxLDMAhD8f0v3UW76EwNRTI4cUZeO7zJByxBbGxYJoggme2f1Qixr9UFMSMpd4OYsRRBzoA4USohbpxCiB9oC+RPMgZs5MFHkPAWobebY0xuEvuELPXlLULeG9AUqkkGQToh3PF3SwglSWCIn3G0xjD3Gkr0IRBCiSIFsgDTK7jdhyx/IoggeQjnOCEI6ziTDtmWzGCyUlZDpqFsSa5fA5mHEkSQXsjoSpMmiJ+MlQUygFD6FyyQnP7NS8mWU+qnyyAhIYggDIQsMEB7kK2VC+3BJh+/A0KexFhvRRBBDoeMRBM9mmsUZHzV1GEkGUvzk0hM5iZB2fags5WaeoAnoyamghwOec6PGHv+W6FNMiy4GZP8HOvwEmAAX8gf6WEC3ZoAAAAASUVORK5CYII=");
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.lot-ui .disabled {
  color: #999;
}

/* Data-table   */
.lot-ui .data {
  width: 100%;
}

.lot-ui .data tr:nth-of-type(odd) { 
  background: #eee; 
}

.lot-ui .data th {
  background: #333;
  color: white; 
  font-weight: bold; 
  padding: 6px;
}

.lot-ui .data td, th {
  text-align: left; 
  padding: 12px 2px; 
}

.lot-ui .data tr.selected {
  background-color: #FF0;
}

.lot-ui .data .group td {
  background-color: #333;
  color: #fff;
  font-weight: 700;
  padding: 10px 12px;
}

#lottery {
  overflow: visible;
  width: 100%;
}

#lottery > ul {
  width: 20000px;
  position: relative;
}

#lottery > ul > li {
  float: left;
  /*for take place*/
  margin: 0 0 1px; 
  padding: 0;
  width: 100%;
}

#lottery > .header + ul {
  margin-top: 44px;
}

#lottery .footer {
  display: none;
}

#lottery .selected .footer {
  display: block;
  z-index: 994;
}

/* Only show select slide */
#lottery > ul > li > * {
  display: none;
  margin-bottom: 80px;
}

/*dialog innner the slider should mask others*/
#lottery > ul > li .dialog {
  background-color: #ddd;
  overflow: visible;
}

/*
If the lottery has header,
Shift the dialog to override the footer and and add more space to footer.
*/
#lottery > .header + ul > li .dialog {
  margin-top: -44px;
}

#lottery > ul > li.selected > * {
  display: block;
}

/* When running show all the sliders, except footer */
.lot-running #lottery > ul > li > * {
  display: block;
}

.lot-running #lottery > ul > li .footer, 
.lot-running #lottery > ul > li .dialog {
  display: none;
}

.lot-ui .header ,
.lot-ui .footer {
  background-color: #000;
  bottom: 0;
  height: 64px;
  left: 0;
  padding: 3px 0 0;
  position: fixed;
  text-align: center;
  width: 102%;
  z-index: 900;
}

/*
.footer {
  left: auto;
  width: 100%;
}
*/

.lot-ui .header {
  bottom: auto;
  color: #FFF;
  height: 38px;
  overflow: hidden;
  top: 0;
}

.lot-ui .header a {
  color: #DDDDDD;
  line-height: 62px;
  text-decoration: none;
  width: auto;
}

/*font override*/
.lot-ui .header a[class^="icon-"] {
  font-size: 10px;
}

.lot-ui .header a[class^="icon-"]:before {
  font-size: 24px;
  left: 14px;
  line-height: 42px;
}

.lot-ui .header a.selected{
  color: #ff0;
}

.lot-ui .header a.back {
  float: left;
}

.lot-ui .header a.home {
  float: right;
  margin-right: 5px;
}

/*header in the slider*/
.lot-ui #lottery > ul .header {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  height: 36px;
  overflow: hidden;
  padding: 8px 0;
  position: static;
  text-align: center;
  width: auto;
}

.lot-ui .leftlabel {
  float: left;
  font-size: 20px;
  font-weight: 700;
  text-indent: 10px;
  width: auto;
}

.lot-ui .leftinput {
  display: block;
  margin: 0 16px 0 140px;
}

.lot-ui .oneinput {
  width: 100%;
}

.lot-ui .oneinput input {
  border-radius: 4px;
  margin: 10px auto;
  width: 94%;
}

.lot-ui .oneinput[data-hint]:after {
  display: block;
  margin: 0 3%;
  padding: 8px 0;
  width: 94%;
}

.lot-ui .mulsel li {
  border-top: 1px dashed #333;
  color: #000000;
  padding: 1em;
}

.lot-ui .mulsel li.selected {
  background-color: #ff0;
}

.lot-ui .mulsel .tool {
  padding: 10px 30px 20px 10px;
}

.lot-ui .mask {
  background: none repeat scroll 0 0 #000;
  bottom: -2%;
  left: -2%;
  opacity: 0.3;
  position: fixed;
  right: -2%;
  text-align: center;
  top: -2%;
  z-index: 1000;
}

.lot-ui .dialog {
  position: relative;
  left: 0;
  z-index: 1000;
  right: 0;
}

.lot-ui #lot-loading {
  background-color: transparent;
  bottom: 0;
  padding-top: 100px;
  position: fixed;
  top: 0;
}

/*dialog modal mode: means dialog outside the lottery*/
/*modal mode must have header and footer*/
.lot-ui .modal .body {
  color: #000;
  margin: 42px 0 50px;
  min-height: 60px;
}

.lot-ui .modal .footer {
  background-color: #fff;
  padding: 0;
}

.lot-ui .modal .footer td {
  background: none repeat scroll 0 0 #000;
  border: 1px solid #000;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 12px 0;
  text-align: center;
}

.lot-ui .msg .body {
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}

.lot-ui .msg .header{
  font-size: 18px;
}

.lot-ui .msg .footer td{
  font-size: 24px;
}

.lot-ui .menubar > li {
  border: 2px solid #fff;
  border-bottom: none;
}

.lot-ui .menubar > li > a {
  background-color: #333;
  color: #fff;
}

.lot-ui .menubar li > a {
  border-bottom: 1px solid #000;
  display: block;
  padding: 12px 0;
  text-decoration: none;
  text-indent: 12px;
}

.lot-ui .menubar > li > ul {
  display: none;
}

.lot-ui .menubar > li.expand > ul {
  display: block;
}

.lot-ui .tree {
  border: 2px solid #fff;
}

.lot-ui .tree li {
  border: 1px solid #333;
  margin: 12px;
}

.lot-ui .tree > li {
  margin: 0;
}

/*p means will have children nodes*/
.lot-ui .tree .tree-node {
  background-color: #333333;
  color: #fff;
  padding-left: 12px;
  margin: 0;
}

/*ul means container of the sub nodes*/
.lot-ui .tree ul {
  /*
  border-bottom: 1px dashed #333;
  border-left: 1px dashed #333;
  border-right: 1px dashed #333;
  */
}

.lot-ui .tree a {
  color: #000;
  display: block;
  line-height: 20px;
  padding: 6px;
  text-decoration: none;
}

.lot-ui .tree [class^="icon-"]:before {
  float: right;
  font-size: 18px;
  line-height: 18px;
  position: static;
}

.lot-ui .tree [class^="icon-"] {
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  float: right;
  height: auto;
  margin: -28px 12px 0;
  padding-left: 16px;
  width: 40px;
}

.lot-ui .note {
  border: 1px dashed #333;
  color: #333;
  list-style: disc outside none;
  margin: 20px 0;
  padding: 1em 1em 1em 24px;
}